@model IEnumerable<ScootersMc.App.ViewModels.MembroMcViewModel>
@using ScootersMc.App.Extension

@{
    ViewData["Title"] = "Lista de Associados";
}

<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Membro</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Hierarquia)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style=" width:70px; height:100px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Hierarquia)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Telefone)*@
                @this.FormataTelefone(item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>

            <br/>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"></span></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> <span class="fa fa-trash"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
